.register {
    color: pink;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 1200px;
    bottom: 20px;
}

.login {
    color: pink;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 1250px;
    bottom: 20px;
}
.account{
    color:pink;
    text-decoration:none;
    font-size:20px;
    position:relative;
    left:1250px;
    bottom:20px;
}
.detail{
    color:pink;
    text-decoration:none;
    font-size:20px;
    position:relative;
    left:1200px;
    bottom:20px;
}
